body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #333;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 10px 0;
    font-size: 1.2em;
}

.intro {
    text-align: center;
    padding: 50px 0;
}

.animation-container {
    overflow: hidden;
}

.animate {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.animate.show {
    opacity: 1;
    transform: translateY(0);
}

.about,
.portfolio {
    text-align: center;
    padding: 50px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #fff;
}
