body{
    background-image:url(Dragon.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
background: #6441A5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  <style>
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    width: 15rem;
}
svg:hover{
    animation: animate 2.5s linear;
    animation-iteration-count: infinite;
    opacity: 1;
}

.background-image {
  top: 0;
  left:0;
  width: 30%;
  height: 30%;
  object-fit: fill; /* Adjust the image fit as needed */
  z-index: -1; /* Ensure the image stays behind the SVG */
}

@keyframes animate {
    0% {
        /* Stroke-dasharray: first value is the width of the animated stroke(aka dash); second value is the width of the space between each dash.
             * In this case, the first value is 60% of total path length, the second is 40%.
             */
        stroke-dasharray: 560.22 273.48;
        /* Stroke-dashoffset: is the point where stroke-dasharray will begin.
             * So in this case for anim, it needs to be at the start, and finish at the end of the hexagon shape (aka the length of the path shape)
             */
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 1 231.7;
      }
      100% {
        stroke-dasharray: 60.22 173.48;
        stroke-dashoffset: -867.4;
        transform: scale(.9);
      }
}